* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.post {
   display: flex;
   width: 800px;
   padding: 15px;
   border: 2px solid teal;
   margin: 15px 10px;
   justify-content: space-between;
}

.post__btns {
   display: flex;
   align-items: center;
}

.post-enter {
   opacity: 0;
}

.post-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.post-exit {
   opacity: 1;
   scale: 1;
}

.post-exit-active {
   opacity: 0;
   scale: 0.2;
   transition: 500ms linear;
}

.page__wrapper {
   margin-bottom: 20px;
}

.page {
   padding: 5px 15px;
   color: teal;
   font-size: 14px;
   cursor: pointer;
   margin: 10px;
}

.page:hover {
   cursor: pointer;
   background-color: rgb(148, 160, 247);
}

.page__current {
   /* border: 2px solid orange; */
   color: rgb(189, 168, 1);
   font-weight: bolder;
   font-size: 20px;
}