* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.add-page {
  background-color: yellowgreen;
}

.container {
  margin: 0 auto;
}

.inner-content {
  display: flex;
  justify-content: space-between;
  background-color: #021437;
  padding: 10px;
}

.brand a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav_links {
  display: flex;
  justify-content: space-between;
}

.nav_links a {
  color: whitesmoke;
  margin-left: 25px;
  font-size: 16px;
}

.btn {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  box-shadow: 0.5px 0.5px 2px rgb(80, 182, 182);

  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0.5px 0.5px 8px rgb(92, 208, 208);
  cursor: pointer;
}

.btn:disabled {
  background-color: rgb(74, 202, 74);
  cursor: default;
}

.count {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 136, 70);
  box-shadow: 0.5px 0.5px 2px rgb(80, 182, 182);

  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
}

.nav_links .nav__add {
  color: rgb(0, 0, 0);
}

.add-content {
  width: 100vw;
  min-height: 100vh;
  padding-top: 10px;
}

.input-wrapper {
  margin: 0 auto;
  width: 50%;
  background-color: #021437;
  padding: 5px;
  border-radius: 4px;
}

.input-wrapper input {
  width: 85%;
  background-color: #cac3ff;
  padding: 3px;
  border-radius: 2px;
  margin-right: 10px;
}

.results {
  display: flex;
  justify-content: left;

  flex-wrap: wrap;
}

.result-card {
  padding: 20px 10px;
}

.controls {
  text-transform: uppercase;
}