* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html, body {
  height: 100%;
  min-width: 400px;
}

body {
  overflow-x: hidden;
  background-color: rgb(197, 231, 252);
}

input {
  border: none;
}

input:focus {
  outline: none;
}

#root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  background-color: #021437;
  padding: 10px;
  color: whitesmoke;
}

.brand a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav_links {
  display: flex;
  justify-content: space-between;
}

.nav_links a {
  color: whitesmoke;
  margin-left: 25px;
  font-size: 16px;
}

.btn {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: green;
  box-shadow: 0.5px 0.5px 2px rgb(80, 182, 182);

  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 2px 2px 20px green;
  cursor: pointer;
}

.btn:disabled {
  background-color: rgb(74, 202, 74);
  cursor: default;
}

.count {
  position: relative;
  left: 90%;
  top: -25px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 136, 70);
  box-shadow: 0.5px 0.5px 2px rgb(80, 182, 182);

  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
}

.nav_links .nav__add {
  color: rgb(0, 0, 0);
}

.heading {
  text-align: center;
}

.add-page {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.add-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100vw;
  min-height: 100%;
  padding-top: 10px;
}

.bg_img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -1;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-width: 50%;
  background-color: #021437;
  /* padding: 5px; */
  border-radius: 10px;
}

.input-wrapper input {
  min-width: 60%;
  height: 15px;
  background-color: #cac3ff;
  padding: 3px;
  border-radius: 2px;
  margin: 10px;
}

.results_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results {
  height: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.controls {
  text-transform: uppercase;
}

.poster {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.movie-page {
  flex-grow: 1;
}

.movies_list {
  padding: 0 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.no-movies {
  text-align: center;
}

.pagination_movies_wrapper {
  margin: 0 auto;
}

.pagination__movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;

  cursor: pointer;
}

.page {
  width: 20px;
  height: 20px;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;

}

.page:hover {
  cursor: pointer;
  background-color: rgb(148, 160, 247);
  border-radius: 50%;
}

.page--active {
  width: 20px;
  height: 20px;
  padding: 10px 10px;
 
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: rgb(189, 168, 1);
  background-color: #021437;
  border-radius: 50%;
  cursor: pointer;
}

.footer__content {
  font-size: 12px;
  text-align: center;
  background-color: #021437;
  padding: 10px;
  color: whitesmoke;
}
